#questform > p {
    font-size: 1.5rem;
    text-shadow: 10px 10px 17px rgba(0, 0, 0, 0.5);
    color: black;
}

.css-wsp0cs-MultiValueGeneric, .css-d7l1ni-option {
    font-size: 2rem !important;
    color: black;
}

.css-13gadw6-container {
    position: relative;
    box-sizing: border-box;
    width: 25rem;
    margin: auto;
}

.css-13cymwt-control,.css-t3ipsp-control, .css-1nmdiq5-menu {
    font-size: 2rem;
    color: black !important;
}
#outertyped {
    text-shadow: 10px 10px 10px orange;
}
.shadows, #questform select, .css-13gadw6-container, .message-input, .css-13cymwt-control {
    border: none;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 10px 10px 10px brown;
}

.css-13cymwt-control {
    background-color: rgba(255, 255, 255, 0.4) !important;
}

#questform select {
    border: none;
    border-radius: 10px;
    padding: 4px 4px;
}

#questsubmit {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    padding-inline: 1rem;
}

#questouterdiv > span > :first-child {
    border: 15px solid red !important;
}
#questouterdiv > span > :last-child {
    border: 15px solid blue !important;
}