@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;900&family=Montserrat:wght@600&display=swap');

.container {
    /* margin-top: 100px; */
    margin-right: 50px;
    margin-left: 50px;
    height: 100vh;
}

.comments-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    column-gap: 25px;
}

.recommendation-border {
    background: rgba(0, 136, 188, 0.15);
    border: 5px solid rgba(0, 136, 188, 0.4);
    border-radius: 50px;
}

.results-page-title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: 500;
}

.recommendation-body {
    padding: 20px;
}

.recommendation-name {
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    font-weight: bold;
}

.recommendation-text {
    align-content: left;
    color: rgba(255, 255, 255, 0.7);
}

#find-people {
    margin-block: 2rem;
    font-size: 1.25rem;
    box-shadow: 10px 10px 10px #0088BC;
    padding-inline: 1rem;
}